---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=invalid%20address&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Thu, 28 Jul 2016 18:16:47 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=142%20W%20Hastings%20St,%20Vancouver,%20BC%20V6B%201G8,%20Canada&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "142",
                       "short_name" : "142",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "West Hastings Street",
                       "short_name" : "W Hastings St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Central",
                       "short_name" : "Central",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                     [...]
