---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=347%20Holly%20Meadows&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "347",
                       "short_name" : "347",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Holly Street",
                       "short_name" : "Holly St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Hilltop",
                       "short_name" : "Hilltop",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "long_name"[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=2544%20Eichmann%20Road&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                 [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=628%20Keeling%20Shoal&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Tue, 26 Jul 2016 17:24:54 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=147%20Wilburn%20Plaza&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                  [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=2307%20Paucek%20Plains&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Tue, 26 Jul 2016 17:24:56 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=483%20Luz%20Freeway&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Bayshore Freeway",
                       "short_name" : "Bayshore Fwy",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "California",
                       "short_name" : "CA",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Bayshore Fwy, California, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 37.3628085,
                          "lng" : -121.8449796
                       },
                       "southwest" : {
                          "lat" : 37.3326294,
                          "lng" : -121.8883511
                       }
                    },
                    "location" : {
                       "lat" : 37.35002110000001,
                       "lng" : -121.8619523
                    },
                    "location_type" : "GEOMETRIC_CENTER",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 37.3628085,
                          "lng" : -121.8449796
                       },
                       "southwest" : {
                          "lat" : 37.3326294,
                          "lng" : -121.8883511
                       }
                    }
                 },
                 "partial_match" : true,
                 "place_id" : "ChIJ54ubsjm8j4ARrnhv1RYJZxg",
                 "types" : [ "route" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 26 Jul 2016 17:24:56 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=368%20Raven%20Field&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=75233%20Jabari%20Village&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
               [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=36907%20Jordan%20Inlet&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                 [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=333%20Florence%20Trace&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                 [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=5733%20Yolanda%20Terrace&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
               [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=17938%20Roberto%20Station&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
              [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=1252%20Chaz%20Pass&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=23136%20Karolann%20Ports&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Tue, 26 Jul 2016 17:24:59 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=104%20Koepp%20Road&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=9395%20Renner%20Orchard&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=6155%20Kuhlman%20Springs&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
               [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=611%20Baumbach%20Ports&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                 [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=50456%20Freeda%20Trail&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                 [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=3172%20Kiehn%20Harbor&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Tue, 26 Jul 2016 17:28:02 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=89049%20Steve%20Summit&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                 [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=60422%20Abshire%20Mountains&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
            [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=679%20Swaniawski%20Summit&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Tue, 26 Jul 2016 17:28:04 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=9318%20Eldora%20Plaza&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                  [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=633%20Koch%20Path&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=350%20Hilll%20Avenue&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                   [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=216%20Ritchie%20Estates&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=607%20Sawayn%20Key&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Tue, 26 Jul 2016 17:28:06 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=3104%20Trent%20Plaza&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                   [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=192%20Felipa%20Plain&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                   [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=7859%20Ondricka%20Trafficway&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Tue, 26 Jul 2016 17:28:07 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=27276%20Dayana%20Tunnel&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=5580%20Burdette%20Neck&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Tue, 26 Jul 2016 17:28:08 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=678%20Rudolph%20Manors&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                 [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=79829%20Friesen%20Road&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                 [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=78682%20Clay%20Manor&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                   [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=84616%20Ryan%20Keys&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=25234%20Jarrod%20Flat&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                  [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=60587%20Wallace%20Haven&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=4779%20Jermey%20Curve&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Tue, 26 Jul 2016 17:30:26 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=43683%20Larson%20Plaza&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                 [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=6252%20Daniel%20Way&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=5075%20Heidenreich%20Island&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Tue, 26 Jul 2016 17:30:27 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=63982%20Angus%20Parkway&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=9430%20Williamson%20Ways&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
               [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=8747%20Davion%20Spur&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                   [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=6439%20Sammie%20Via&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=91732%20Ethyl%20Corner&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                 [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=196%20Marco%20Fall&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=75707%20Conrad%20Terrace&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
               [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=17708%20Ivah%20Ford&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=6077%20Kulas%20Haven&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                   [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=61023%20Daniel%20Drive&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                 [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=768%20Kovacek%20Mountain&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [],
[...]
